<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- REQUIRED BASIC PERMISSIONS -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- FORCE-REMOVE MEDIA PERMISSIONS INJECTED BY PLUGINS -->
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:node="remove"/>

    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO"
        tools:node="remove"/>

    <uses-permission
        android:name="android.permission.READ_MEDIA_AUDIO"
        tools:node="remove"/>

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:node="remove"/>

    <!-- UPI / INTENT QUERIES -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="upi"/>
        </intent>

        <package android:name="com.google.android.apps.nbu.paisa.user"/>
        <package android:name="net.one97.paytm"/>
        <package android:name="com.phonepe.app"/>
        <package android:name="in.org.npci.upiapp"/>
    </queries>

    <application
        android:label="ST Joseph Student"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>
    </application>

</manifest>
